<% layout('layouts/boilerplate') -%>
<body>
 <h1>create new listing</h1>
    <form method="post" action="/listings">
        <input name="title" placeholder="enter title" type="text"><br>
        <textarea name="image" placeholder="enter url of image"></textarea><br>
        <input name="price" placeholder="enter price" type="number"><br>
        <input name="country" placeholder="enter country" type="text">
        <br>
        <button>add</button>
    </form>   
</body>
</html>