
<% layout('layouts/boilerplate') -%>
<body>
 <br/>
 <div class="row">
    <div class="col-8 offset-2">
        <h1>create new listing</h1>
    <form method="post" action="/listings">
       <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input name="title"
        class="form-control"
         placeholder="add a catchy title"
         type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">description</label>
            <textarea name="image" class="form-control" placeholder="enter url of image"></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="from-label">image URL</label>
            <input name="image" placeholder="enter image link" type="text" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
        <label class="form-label" for="price">price  </label>
        <input name="price" class="form-control" placeholder="12000" type="number">
       </div>
        <div class="mb-3 col-md-8">
            <label class="form-label">country</label>
        <input name="country" class="form-control" placeholder="india" type="text">
        </div>
        </div>
        <div class="mb-3" >
            <label class="form-label">location</label>
        <input name="location" class="form-control" placeholder="jaipur,rajasthan" type="text">
        </div>
       
      
        <button class="btn btn-dark add-btn">add</button><br/>
<br/>
    </form>   
    </div>
    </div>
