<% layout('layouts/boilerplate') -%>

 <br/>
 <div class="row">
    <div class="col-8 offset-2">
     <form action="/signup" method="post"  class="needs-validation" nonvalidate>
 <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input name="username"
        class="form-control"
         type="text"
         required>
         <div class="invalid-feedback">looks good</div>
        </div>


     </form>  
    </div>
    </div>